# Ignore everything by default
*

# Always keep .gitignore
!.gitignore

# Allow source files
!src/
!src/**/*.java

# Allow docker setup
!docker/
!docker/**

# Allow Kafka libs
!libs/
!libs/**

# Ignore compiled class files
*.class
bin/
out/

# Ignore IDE folders
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
